<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
<h2 style="text-align: center;"><font face="lucida sans unicode, lucida grande, sans-serif">AVALIE A SUA FUTURA CASA</font></h2>

<div style="text-align: center;">Utilizando-se de Intelig&ecirc;ncia artificial forneceremos a avalia&ccedil;&atilde;o do seu im&oacute;vel baseado no seu perfil.<br />
<br />
Imóveis com {{ key1 }} quartos e &aacute;rea de {{key1}} m2 possuem valoe aproximado de R$ ..... <br />
&nbsp;</div>

<div style="text-align: center;"><br />
<input onclick="calcula();" type="button" value="Novo calculo" /> <script type="text/javascript">
    function calcula() {
        var surl = 'https://valorcasa.herokuapp.com';

        surl = surl

        window.location.assign(surl);
    }
   
</script></div>
</body>
</html>


<script type="text/javascript">
    function calcula() {
        var surl = 'https://valorcasa.herokuapp.com';

        surl = surl

        window.location.assign(surl);
    }
   
</script>





</html>