<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
<h2 style="text-align: center;"><font face="lucida sans unicode, lucida grande, sans-serif">AVALIE A SUA FUTURA CASA</font></h2>

<div style="text-align: center;">Utilizando-se de Intelig&ecirc;ncia artificial fornecemos a avalia&ccedil;&atilde;o do seu im&oacute;vel baseado no seu perfil.<br />
<br />
Frone&ccedil;a os odados para pequisa<br />
<br />
&nbsp;</div>

<div>&nbsp;</div>
&nbsp;

<div style="text-align: right;">&nbsp;</div>

<div style="text-align: center;"><img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuIJpKyXJ4rx0rS0c9kgq3Ridm5QJrzj8LIg&amp;usqp=CAU" style="width: 247px; height: 204px;" /></div>
</body>
</html>