<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
<h2 style="text-align: center;"><font face="lucida sans unicode, lucida grande, sans-serif">AVALIE A SUA FUTURA CASA</font></h2>

<div style="text-align: center;">Utilizando-se de Intelig&ecirc;ncia artificial forneceremos a avalia&ccedil;&atilde;o do seu im&oacute;vel baseado no seu perfil.<br />
<br />
Forne&ccedil;a os os dados para a avali&ccedil;&atilde;o.<br />
<br />
<br />
Qtd. Quartos&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<select name="Quartos"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6+">6+</option></select><br />
<br />
Localiza&ccedil;&atilde;o&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<select><option value="1">Macei&oacute;</option><option value="2">Arapiraca</option></select><span style="display: none;">&nbsp;</span><span style="display: none;">&nbsp;</span><br />
<br />
&nbsp;</div>

<div>&nbsp;</div>
&nbsp;

<div style="text-align: right;">&nbsp;</div>

<div style="text-align: center;"><input alt="Consulta" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuIJpKyXJ4rx0rS0c9kgq3Ridm5QJrzj8LIg&amp;usqp=CAU" style="width: 247px; height: 204px;" type="image" /></div>
<a download="Dados extraidos da url https://imoveis.mercadolivre.com.br/casas/alagoas " href="casas_alagoas.alagoas.csv">Download</a></body>
</html>
